name: Delete Azure Resource Group

on:
  workflow_dispatch:  # Allows manual triggering of the workflow

jobs:
  delete-resource-group:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    
    steps:
    # Step 1: Log in to Azure using the stored credentials
    - name: Log in to Azure
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    # Step 2: Delete the Resource Group using Azure CLI
    - name: Delete Resource Group
      run: |
        # Get all resource groups with the tag 'Project: Lab' and delete them
        az group list --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }} --tag Project=scalingCloudLab --query "[].name" -o tsv | xargs -I {} az group delete --name {} --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }} --yes --no-wait